
main{
    background-color: #7749F8;
    padding: 20%;
}
article{
    background-color: white;
    margin: 10%;
    padding: 10%;
}

:host{
    background-color: #7749F8;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}