

h3{
    text-align: center;
}

a{
    background-color: #7749F8;
    color: white;
}

main{
    background-color: #7749F8;
    padding: 0 25%;
    padding-top: 8%;
    
}
article{
    background-color: white;
    padding: 10% 20%;
}
:host{
    background-color: #7749F8;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
