<div id="menu">
    <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <h3>SISWEB</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link" href="/products">Products</a>
            <a class="nav-link" href="/shop">Shop</a>
            <a type="button" href="" class="btn btn-outline-light container">LogOut</a>
            </div>
        </div>
        </div>
    </nav>
    </div>
</div>

<router-outlet></router-outlet>
