<div class="container">
    <br>
    <h1>Edit Product</h1>
    <hr>

    <form (submit)="updateItem()">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <img src="" alt="#">
            </div>
            <div>
                <input class="form-control" type="file" required>
            </div>
        </div>
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-6">
                    <label for="id">ID</label>
                    <input type="text" name="f_id" [(ngModel)]="newItemID" class="form-control" id="ID" required [disabled]="true">
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="tipesexamples"> Tipo </label>
                        <select class="form-select" name="f_type" id="tipesexamples" [(ngModel)]="newItemType" required>
                            <option value="Cosmetic"> Cosmetic </option>
                            <option value="Beauty"> Beauty </option>
                            <option value="Cleaning"> Cleaning </option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="nombre">Name:</label>
                        <input type="text" name="f_name" [(ngModel)]="newItemName" class="form-control" id="nombre" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="type"> Price</label>
                    <div class="row md-3">
                        <div class="col input-group">
                            <input type="text" name="f_price" [(ngModel)]="newItemPrice" class="form-control" aria-label="Text input with dropdown button" required>
                            <div class="dropdown">
                                <button id="dropdownMenuButton" class="btn btn-outline-secondary dropdown-toggle"
                                    type="button" data-toggle="dropdown">MXN</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">MXN</a>
                                    <a class="dropdown-item" href="#">USD</a>
                                    <a class="dropdown-item" href="#">EUR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="type">Stock</label>
                    <input type="text" name="f_stock" class="form-control" id="Type" [(ngModel)]="newItemStock" required>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-11">
            <button type="submit" class="btn btn-primary"> Update </button>
        </div>
        <div class="col-md-1">
            <a class="btn btn-primary" href="/products" style="background-color: gray;">Cancel</a>
        </div>
    </div>
  </form>

</div>